# Ignore specific files
appsettings.json

# Ignore entire directories
/node_modules
/dist
/AuthBillPro_Deployment
/AuthBillProBackUP
/activityLog-DebV

# Ignore all files
*.log
*.json
*.tmp
*.crt
*.htaccess
*.yml



