#readMore,
.zoomLink {
  display: none;
  background-color: rgb(192, 193, 255);
}

/*//event flyer section*/
.eventFlyer {
  display: none;
}

/* js 'read more' script*/
.c10,
.s1 {
  margin: 0;
}

.iframe {
  width: 300px;
  height: auto;
}

iframe {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

button#btn {
  padding: 15px;
  color: black;
  font-family: georgia;
  background: rgb(199, 0, 126);
  background: linear-gradient(
    90deg,
    rgba(199, 0, 126, 1) 28%,
    rgba(178, 40, 148, 0.5387198824842436) 45%
  );
  text-transform: uppercase;
  border-radius: 10px;
}

footer,
header,
.text-links li,
.text-links li a {
  display: none;
}

.event-name,
.vanue-name {
  color: black;
  font-weight: 400;
}

.adiv {
  font-size: 1.5em;
  color: black;
  font-weight: 400;
}

.buttons {
  background: transparent !important;
}

#viewEvent,
.eventVanue {
  background: transparent;
}

html,
body,
#viewEvent,
.enterPromoCode,
.red-heading,
.adiv,
.tot,
.text24,
.eventVanue,
.event-name,
.buttons a,
.organiserBox p,
.organiserBox span a,
.text-links li a,
.eventFlyerDes {
  font-family: georgia, Times !important;
}

.ticdes p,
.ticdetail {
  font-size: 16px;
  text-align: left;
  line-height: 16px;
}

c12.tides {
  padding-left: 10px;
  padding-right: 5px;
}

.refundPolicyInfo,
.organiserBox,
.ticket,
.buttons a.makeLive,
.eventBanner,
.eventVanue {
  border-radius: 10px;
}

a {
  color: tomato;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a:visited {
  color: violet;
}

.red-heading,
.tot,
.multiDateVenueText,
.organiserBox a {
  color: black;
}

.buttons a.makeLive,
.buttons,
.enterPromoCode,
.tot {
  background: rgb(199, 0, 126);
  background: linear-gradient(
    90deg,
    rgba(199, 0, 126, 1) 28%,
    rgba(178, 40, 148, 0.5387198824842436) 45%
  );
  color: black;
}
/* .card {
    min-width: 300px;
} */
body {
  background-color: whitesmoke;
}

section.eventBanner {
  background: rgb(199, 0, 126);
  background: linear-gradient(
    90deg,
    rgba(199, 0, 126, 1) 28%,
    rgba(178, 40, 148, 0.5387198824842436) 45%
  );
  max-width: 960px;
  margin: 0 auto;
}

.imgBg {
  background-image: url("#");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
